<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appSettings>
		<add key="cn_mssql" value="Data Source = ***;User Id = ***;Password = ***;Initial Catalog = ***" />
		<add key="cn_mysql" value="Data Source = ***;User Id = ***;Password = ***;Initial Catalog = ***" />
		<add key="cn_oracle" value="Data Source = ***;User Id = ***;Password = ***" />
		<add key="cn_npgsql" value="Data Source = ***;User Id = ***;Password = ***;Initial Catalog = ***" />
		<add key="cn_sqlite" value="Data Source = ***" />
	</appSettings>
	<system.web>
		<globalization fileEncoding="utf-8" />	
		<sessionState timeout="120" /><!--默认20分钟-->		
		<compilation>
			<assemblies>
				<add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			</assemblies>
		</compilation>
	</system.web>
</configuration>
