<?xml version="1.0"?>
<configuration>
	<system.web>
		<globalization fileEncoding="utf-8"/>
		<sessionState timeout="120"/>
		<compilation>
			<assemblies>
				<add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			</assemblies>
		</compilation>
	</system.web>
</configuration>
