<?xml version="1.0"?>
<configuration>
	<system.web>
		<globalization fileEncoding="utf-8"/>
		<sessionState timeout="120"/>
		<compilation>
			<assemblies>
				<add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
			</assemblies>
		</compilation>
        <pages>
            <namespaces>	
				<add namespace="System.IO"/>
				<add namespace="System.Drawing"/>
				<add namespace="System.Drawing.Imaging"/>
				<add namespace="System.Web.UI.DataVisualization.Charting"/>
				<add namespace="System.Data"/>
				<add namespace="MySqlConnector"/>
				<add namespace="System.DirectoryServices"/>
				<add namespace="System.Net"/>
				<add namespace="System.Net.Mail"/>
            </namespaces>
        </pages>
	</system.web>
</configuration>